{% extends "header.html" %}

{% block title %}Home - Undergrad Lab Resources Portal{% endblock %}

{% block content %}

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="mb-3">
                    <!-- Student Portal Button -->
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">STUDENTS</h5>
                        <p class="card-text">Undergraduate Engineering Student Lab equipment documentation, self study resources and Lab instructions</p>
                        <a href="{{url_for('student')}}" class="btn btn-primary">Student Portal</a>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <!-- Admin Portal Button -->
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">ADMIN</h5>
                        <p class="card-text">University Staff, Lab coordinator access to Lab usage info and Lab information, carbon footprint tracking</p>
                        <a href="{{url_for('admin')}}" class="btn btn-primary">Admin Portal</a>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <!-- Admin Portal Button -->
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">SUPPLIER</h5>
                        <p class="card-text">University Contractor info, resource order info, order tracking and footprint tracking</p>
                        <a href="{{url_for('supplier')}}" class="btn btn-primary">Supplier Portal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}