{% extends "header.html" %}

{% block title %}Home - Undergrad Lab Resources Portal{% endblock %}

{% block content %}
<div class="container mt-3">
    <!-- Tabs for Map and Tasks -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#map">Map</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tasks">Tasks</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="map" class="container tab-pane active"><br>
            <h3>Map</h3>
            <p>Here is a map of the classroom, the red arrow will help you find your designated seating</p>
            <img src="path_to_map_image.jpg" class="img-fluid" alt="Map">
        </div>
        <div id="tasks" class="container tab-pane fade"><br>
            <h3>Tasks</h3>
            <p>A long form description of what the tasks of this lab will be, including some notes before the lab. The button below will allow you to start the tasks. You could also include relevant images.</p>
            <img src="path_to_tasks_image.jpg" class="img-fluid" alt="Tasks Image">
            <!-- Button to go to tasks -->
            <div class="mt-3">
                <a href="{{url_for('task1')}}" class="btn btn-primary">Go to Tasks</a>
            </div>
        </div>
    </div>
</div>


<script>
    // JavaScript to handle switch logic
    document.addEventListener('DOMContentLoaded', (event) => {
        let switches = document.querySelectorAll('.form-check-input');
        switches.forEach((element) => {
            element.addEventListener('change', checkSwitches);
        });

        function checkSwitches() {
            let allOn = Array.from(switches).every((element) => element.checked);
            document.getElementById('nextPageButton').style.display = allOn ? 'block' : 'none';
        }
    });
</script>
{% endblock %}