{% extends "header.html" %}

{% block title %}Home - Undergrad Lab Resources Portal{% endblock %}

{% block content %}
<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="description-tab" data-bs-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="history-tab" data-bs-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="deals-tab" data-bs-toggle="tab" href="#deals" role="tab" aria-controls="deals" aria-selected="false">Deals</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
          <!-- Description content -->
        </div>
        <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
          <!-- History content -->
        </div>
        <div class="tab-pane fade" id="deals" role="tabpanel" aria-labelledby="deals-tab">
          <!-- Deals content -->
        </div>
      </div>
    </div>
</div>
  
<script>

    $(document).ready(function () {
        $('#bologna-list a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });
</script>
{% endblock %}