{% extends "header.html" %}
{% block title %}Optclass{% endblock %}
{% block content %}
<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <h4>Student Portal</h4>
      <div class="card mt-3 mb-3">
        <div class="card">
            <div class="card-header">
              <nav>
                <div class="nav nav-tabs card-header-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-map-tab" data-toggle="tab" href="#nav-map" role="tab" aria-controls="nav-map" aria-selected="true">Map</a>
                  <a class="nav-item nav-link" id="nav-tasks-tab" data-toggle="tab" href="#nav-tasks" role="tab" aria-controls="nav-tasks" aria-selected="false">Tasks</a>
                  <a class="nav-item nav-link" id="nav-waste-tab" data-toggle="tab" href="#nav-waste" role="tab" aria-controls="nav-waste" aria-selected="false">Waste</a>
                </div>
              </nav>
            </div>
            <div class="card-body">
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-map" role="tabpanel" aria-labelledby="nav-map-tab">
                  <!-- Content for Map tab -->
                  <p>Here is a map of the classroom, the red arrow will help you find your designated seating.</p>
                  <!-- Placeholder for map image -->
                  <div style="text-align: center;">
                    <img src="../static/img/Screenshot 2024-04-16 214046.png" alt="Map" class="img-fluid">
                  </div>
                </div>
                <div class="tab-pane fade" id="nav-tasks" role="tabpanel" aria-labelledby="nav-tasks-tab">
                  <!-- Content for Tasks tab -->
                  <p>A long form description of what the tasks of this lab will be, including some notes before the lab. The button below will allow you to start the tasks.</p>
                  <!-- Placeholder for tasks content or image -->
                  <img src="../static/img/cq5dam.web.1280.1280.avif" alt="Tasks" class="img-fluid">
                  <button class="btn btn-primary mt-3" onclick="location.href='{{url_for('task1')}}';">Go to Tasks</button>
                </div>
                <div class="tab-pane fade" id="nav-waste" role="tabpanel" aria-labelledby="nav-waste-tab">
                  <form id="materials-form" action="{{ url_for('submit_materials') }}" method="post">
                    <p>Please help us track material usage by selecting the materials that were used in this lab, thank you!</p>
                  
                    <!-- Material Selection Card -->
                    <div class="card">
                      <div class="card-body">
                        <!-- Material Row -->
                        <div class="row form-group">
                          <!-- Material Column -->
                          <div class="col-md-4 mb-3">
                            <div class="custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="material-PLA" name="materials" value="PLA" style="transform: scale(1.5);">
                              <label class="form-check-label" for="material-PLA"> PLA </label>
                            </div>
                            <div class="custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="material-ABS" name="materials" value="ABS" style="transform: scale(1.5);">
                              <label class="form-check-label" for="material-ABS"> ABS </label>
                            </div>
                            <div class="custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="material-Aluminium" name="materials" value="Aluminium" style="transform: scale(1.5);">
                              <label class="form-check-label" for="material-Aluminium"> Aluminium </label>
                            </div>
                            <div class="custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="material-Steel" name="materials" value="Steel" style="transform: scale(1.5);">
                              <label class="form-check-label" for="material-Steel"> Steel </label>
                            </div>
                            <div class="custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="material-Copper" name="materials" value="Copper" style="transform: scale(1.5);">
                              <label class="form-check-label" for="material-Copper"> Copper </label>
                            </div>
                          </div>
                          <!-- Repeat for each material -->
                          <!-- ... -->
                        </div>
                        <!-- Submit Button -->
                        <div class="text-right">
                          <button type="submit" class="btn btn-primary mt-3">Submit</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>

    $(document).ready(function () {
        $('#bologna-list a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });
</script>
{% endblock %}